*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: white;
  --green: #09a494;
  --txtColor: #212121;
}

.dark-theme {
  --txtColor: #CCCCCC;
  --bg-color: #031923;
}

.switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 34px;
}

.switchCheckbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.switchSlider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #CCCCCC;
  cursor: pointer;
  transition: 0.4s;
}

.switchSlider:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  margin: auto 0;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-image: url('../icons/moon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  transition: 0.4s;
}

.switchCheckbox:checked + .switchSlider:before {
  transform: translateX(24px);
  background-color: #FFFFFF;
  background-image: url('../icons/sun.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

body {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  background-color: var(--bg-color);
}
.mainHeader {
  display: flex;
  padding-top: 60px;
  align-items: center;
  margin-bottom: 120px;
}
.rounded {
  border-radius: 50%;
  margin-right: 46px;
  height: 60px;
}

.navBtnNone {
  visibility: hidden;
}

.visuallyHidden {
  visibility: hidden;
}

.avaRounded {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.mainNav {
  display: flex;
}
.mainNav a {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  color: var(--txtColor);
  text-decoration: none;
}

.mainNav a:hover {
  color: var(--green);
}

.container {
  min-width: 320px;
  max-width: 1280px;

  margin: 0 auto;
  padding: 0 20px 0 20px;
}

h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 60px;
  line-height: 1.1;
  color: var(--txtColor);
}

h2 {
  margin: 0 0 40px 0;
}

.skillsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
  width: 100%;
  color: var(--txtColor);
}

.skillsHeader h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skillsHeaderRight {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 0px;
  flex-wrap: wrap;
  padding: 0;
}
.userContainer {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 120px;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.textWrapper {
  max-width: 800px;
  color: var(--txtColor);
}

.about {
  margin-bottom: 120px;
}

.skills {
  margin-bottom: 120px;
}

.interests {
  margin-bottom: 120px;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

p:last-child {
  margin: 0;
}

.textContainer h1 {
  margin: 0;
}

.subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  color: var(--green);
}

h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: var(--txtColor);
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.skillsHeaderRight button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  gap: 10px;
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid var(--green);
  color: var(--green);
}

.skillsHeaderRight button:hover {
  color: var(--white);
  background-color: var(--green);
}

.skillList {
  margin: 0;
  padding: 0;
  line-height: 1;
  gap: 10;
}

.skillList dt {
  margin-bottom: 6px;
  padding-left: 40px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.skill-level {
  margin: 4px 0 20px;
  padding: 2px;
  font-size: 0;
  border: 1px solid var(--blue);
  border-radius: 16px;
}

.skill-level div {
  height: 14px;
  background-color: var(--yellow);
  border-radius: 8px;
}

.progressBar {
  margin: 10px 0 17px;
  width: 100%;
  height: 18px;
  background-color: #f3f3f3;
  position: relative;
  border-radius: 100px;
  outline: 1px solid #212121;
}

.progressBarInner {
  height: 100%;
  background-color: var(--green);
  position: absolute;
  border-radius: 100px;
}

.contactsBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.contactsBlock a {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--txtColor);
  text-decoration: none;
}

.phoneLink,
.emailLink {
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 30px;
  overflow: visible;
}

.dark-theme .phoneLink {
  background-image: url("../icons/phone_dark.svg");
}

.phoneLink {
  background-image: url("../icons/phone.svg");
}

.dark-theme .emailLink {
  background-image: url("../icons/email_dark.svg");
}

.emailLink {
  background-image: url("../icons/email.svg");
}

.contactsBlock img {
  margin: 0 10px;
}

.contactsBlock a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactsBlock a:hover {
  text-decoration: none;
  color: var(--green);
}

.social {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

dt {
  background-repeat: no-repeat;
  background-position: left-center;
  padding-left: 40px;
  color: var(--txtColor);
}

.socialBlock {
  display: block;
  width: 50px;
  height: 50px;
  outline: 1px solid var(--green);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.dark-theme .socialBlock {
  background-color: #CCCCCC;
}

.social a:hover {
  outline: 1px solid var(--white);
  background-color: var(--green);
}

.socialLinkGithub {
  background-image: url("../icons/github.svg");
  text-decoration: none;
}

.socialLinkTelegram {
  background-image: url("../icons/telegram.svg");
  text-decoration: none;
}

.mainFooter {
  width: 100%;
  margin-top: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--bg-color);
}

.dark-theme .mainFooter {
  color: var(--bg-color);
}

footer {
  background: var(--txtColor);
  color: var(--white);
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 40px 0;
  }

  h3 {
    font-size: 18px;
  }

  .rounded {
    height: 60px;
    width: 60px;
    margin-right: 0;
  }

  body {
    font-size: 16px;
  }

  .avaRounded {
    width: 250px;
    height: 250px;
  }

  .subtitle {
    font-size: 28px;
  }

  .mainHeader {
    margin-bottom: 80px;
    gap: 40px;
  }

  .mainFooter {
    margin-top: 80px;
  }

  .about {
    margin-bottom: 80px;
  }

  .skills {
    margin-bottom: 80px;
  }

  .interests {
    margin-bottom: 80px;
  }

  .userContainer {
    margin-bottom: 80px;
  }

  .contactsBlock a {
    font-size: 16px;
  }

  .contactsBlock {
    gap: 40px;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    margin: 0 0 30px 0;
  }

  h3 {
    font-size: 16px;
  }

  .rounded {
    height: 40px;
    width: 40px;
  }

  body {
    font-size: 14px;
  }

  .mainNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .mainNavClosed{
    display: none !important;
  }

  .mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 20px;
  }

  .mainHeaderWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 50px;
  }

  .mainNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
  }

  .mainHeaderWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
  }

  .navBtn {
    display: block;
    width: 30px;
    height: 30px;
  }

  .navBtnClose {
    background-image: url(../icons/close.svg);
  }

  .navBtnOpen {
    background-image: url(../icons/burger.svg);
  }

  .subtitle {
    font-size: 20px;
  }

  .social {
    margin-top: 20px;
    gap: 15px;
  }

  .contactsBlock a {
    font-size: 14px;
  }

  .userContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    justify-content: flex-start;
  }

  .avaRounded {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto 0px auto;
    order: 0;
  }

  .skillsHeader {
    margin-bottom: 20px;
  }

  .textContainer {
    width: 100%;
    text-align: center;
    margin: 0;
    order: 1;
    gap: 10px;
  }

  .mainFooter {
    margin-top: 50px;
    padding-top: 30px;
  }

  .about {
    margin-bottom: 50px;
  }

  .skills {
    margin-bottom: 50px;
  }

  .interests {
    margin-bottom: 50px;
  }

  .userContainer {
    margin-bottom: 50px;
  }

  .contactsBlock {
    gap: 40px;
  }
}

@media screen and (max-width: 360px) {
  .skillsHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .skillsHeader h2 {
    width: 100%;
  }
  .skillsHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
  }
  .skillsHeaderRight > div,
  .skillsHeaderRight > button {
    width: 100%;
    padding-bottom: 6px;
  }
  .contactsBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .contactsBlock a {
    width: 100%;
    text-align: left;
    display: block;
    padding-top: 9px;
  }

  .skillList {
    margin-top: 25px;
  }

}
